/* make the ApexCharts export menu dark */
.apexcharts-menu {
    background-color: #2d2d2d !important;
    color: white !important;
    border: 1px solid #444 !important;
  }
  
  .apexcharts-menu-item:hover {
    background-color: #3a3a3a !important;
  }